body {
  background-color: yellow;
  color: green;
}

a {
  background-color: white;
  color: green;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: green;
}
